@charset "UTF-8";

/* 공지 테이블 */
.noticeTable {
	width: 100%;
	border-top: 1px solid #4871ce;
}
.noticeTable table {
	width: 100%;
	table-layout: fixed;
}
.noticeTable table * {
	/* text-align: center; */
	vertical-align: middle;
}
.noticeTable table .text-left { 
	text-align: left;
}
.noticeTable table tr {
	border-bottom: 1px solid #e1e1e1;
}
.noticeTable table tbody tr.notice {
	background-color: #faf7f5;
}
.noticeTable table th {
	font-size: 18px;
	font-weight: 500;
	background-color: #f8f8f8;
}
.noticeTable table thead th {
	padding:20px 10px;
}
.noticeTable table td {
	font-size: 18px;
}
.noticeTable table tbody td {
	padding:20px 10px;
}
.noticeTable table tbody td.num {
	text-align: center;
}
.noticeTable table tbody td.num .notice-label {
	display: inline-block;
	padding:5px 15px;
	color:#fff;
	font-size: 16px;
	border-radius: 30px;
	box-sizing: border-box;
	background-color: #4871ce;
}
.noticeTable table tbody td.subject a {
	overflow: hidden;
	display: block;
	color:#101820;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: all 0.2s;
}
.noticeTable table tbody td.subject a:hover {
	transform: translateX(10px);
	opacity: 0.5;
}

/* 뷰 테이블 */
.viewTable {
	width: 100%;
	padding:25px 0;
	border-top: 2px solid #4871ce;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.viewTable_header {
	margin-bottom: 10px;
	padding:0 25px;
	box-sizing: border-box;
}
.viewTable_header .viewTable_title {
	font-size: 26px;
	font-weight: 500;
	letter-spacing: -1.6px;
}
.viewTable_info {
	padding:0 25px 25px;
	/* text-align: right; */
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.viewTable_info .name {
	display: none;
	font-size: 18px;
}
.viewTable_info .view {
	display: none;
	color:#666;
	font-size: 16px;
	font-weight: 300;
	margin-right: 20px;
}
.viewTable_info .view:before {
	content:'view. ';
}
.viewTable_info .date {
	color:#666;
	font-size: 16px;
	font-weight: 300;
}
/* .viewTable_info .date:before {
	content:'date. ';
} */
.viewTable_cont {
	min-height: 300px;
	padding:25px;
	box-sizing: border-box;
}
.viewTable_cont img {
	max-width: 100% !important;
}
.viewTable_file {
	margin-top: 30px;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	box-sizing: border-box;
	background-color: #f8f8f8;
}
.viewTable_file li {
	padding:20px 25px;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.viewTable_file li a {
	display: inline-block;
	padding-left: 34px;
	color:#555;
	font-size: 16px;
	background-image: url(/resource/images/file-down.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: auto 100%;
}
.viewTable_file li a:hover {
	color:#ccc;
}

/* 글쓰기 테이블 */
.noticeTable {
	width: 100%;
}
.noticeTable_form+.noticeTable_form {
	margin-top: 30px;
}
.noticeTable_form h4 {
	padding:10px 15px;
	color:#fff;
	font-size: 18px;
	font-weight: 500;
	box-sizing: border-box;
	background-color: #4d3b70;
}
.noticeTable_form p {
	padding:10px 0;
	box-sizing: border-box;
}
.noticeTable_form p input {
	width: 100%;
	height: 48px;
	padding:0 10px;
	color:#101820;
	font-size: 16px;
	line-height: 48px;
	border:1px solid #ccc;
	outline: none;
	box-sizing: border-box;
}
.noticeTable_form p textarea {
	width: 100%;
	padding:10px;
	color:#101820;
	font-size: 16px;
	border:1px solid #ccc;
	outline: none;
	box-sizing: border-box;
}

/* 페이지네이션 */
.pagination {
	margin-top: 40px;
	font-size: 0;
	line-height: 0;
	text-align: center;
}
.pagination .page-btn {
	display: inline-block;
	margin: 0 2px;
	width: 40px;
	height: 40px;
	padding: 0 !important;
	border: 1px solid #dfdfdf;
	color: #666 !important;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	vertical-align: middle;
}
.pagination .page-btn img {
	width: 100%;
	margin-top: 0;
	vertical-align: baseline;
}
.pagination .page-btn.current {
	color: #fff !important;
	border-color: #333;
	background-color: #333;
	cursor: default;
}
.pagination .page-btn.prev {
	border-color: #fff;
	vertical-align: middle !important;
}
.pagination .page-btn.next {
	border-color: #fff;
	vertical-align: middle !important;
}


/* 버튼 */
#btn-group {
	display: flex;
	align-items: center;
	padding:40px 0 0;
}
#btn-group.no-pad {
	padding:0;
}
#btn-group.center {
	justify-content: center;
}
#btn-group.right {
	justify-content: flex-end;
}
#btn-group.left {
	justify-content: flex-start;
}
#btn-group .btn {
	margin-right: 8px;
}
#btn-group .btn:last-child {
	margin-right: 0;
}
.btn {
	display: inline-block;
	height: 45px;
	padding: 0 30px;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 45px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #fff;
	transition: all 0.2s;
}
.btn.xs {
	height: 36px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 36px;
}
.btn.put {
	min-width: 310px;
	height: 54px;
	padding:0 50px;
	color:#fff;
	line-height: 54px;
	box-sizing: border-box;
	background-image: url(/resource/images/put-bg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}
.btn.put img {
	margin-left: 15px;
}
.btn:hover {
	opacity: 0.85;
}
.btn.block {
	width: 100%;
}
.btn.bg-black {
	color: #fff;
	border-color: #333;
	background-color: #333;
}
.btn.bg-navy {
	color: #fff;
	border-color: #4d3b70;
	background-color: #4d3b70;
}
.btn.bg-blue {
	color: #fff;
	border-color: #4871ce;
	background-color: #4871ce;
}
.btn.bg-green {
	color: #fff;
	border-color: #3fbfd8;
	background-color: #3fbfd8;
}
.btn.bg-puple {
	color: #fff;
	border-color: #bfb6d3;
	background-color: #bfb6d3;
}
.btn.bg-orange {
	color: #fff;
	border-color: #d99053;
	background-color: #d99053;
}
.btn.bg-pink {
	color: #fff;
	border-color: #f19d9d;
	background-color: #f19d9d;
}
.btn.bg-gray {
	color: #fff;
	border-color: #b4b4b4;
	background-color: #b4b4b4;
}
.btn.bg-brown {
	color: #fff;
	border-color: #a49488;
	background-color: #a49488;
}
.btn img {
	margin-top: -2px;
}
.btn img.left {
	margin-right: 10px;
}
.btn img.right {
	margin-left: 10px;
}

#btn-box {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

#btn-box .btn {
	margin-right: 8px;
}

#btn-box .btn:last-child {
	margin-right: 0;
}

#btn-box.center {
	justify-content: center;
}

#btn-box.right {
	justify-content: flex-end;
}

#btn-box.file .btn {
	width: 260px;
}


@media screen and (max-width:720px) {
	.noticeTable table th,
	.noticeTable table td {
		font-size: 26px;
	}
	.noticeTable table tbody td.num .notice-label {
		font-size: 22px;
	}
	/* .noticeTable {
		border-top:2px solid #4d3b70;
	}
	.noticeTable table,
	.noticeTable table tbody {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.noticeTable table tbody tr {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding:0 20px;
	}
	.noticeTable table tbody .num,
	.noticeTable table tbody .subject {
		display: inline-block;
		padding:20px 0;
		box-sizing: border-box;
	} 
	.noticeTable table thead {
		display: none;
	}
	.noticeTable table tbody .date {
		padding-top: 0;
	}
	.noticeTable table tbody .adm {
		margin-left: auto;
		padding-top: 0;
		padding-left: 0;
	}
	.noticeTable table tbody .view {
		display: none;
	}
	.noticeTable table tbody tr:not(.notice) .num {
		display: none;
	}
	.noticeTable table tbody tr:not(.notice) .subject {
		width: 100%;
	}
	.noticeTable table tbody tr.notice .num {
		margin-right: 10px;
		width: 70px;
	}
	.noticeTable table tbody tr.notice .subject {
		width: calc(100% - 102px);
	} */

	.noticeTable_form h4 {
		font-size: 28px;
	}
	.noticeTable_form p input {
		height: 74px;
		font-size: 26px;
		line-height: 74px;
	}

	.viewTable_header .viewTable_title {
		font-size: 30px;
	}
	.viewTable_info .date {
		font-size: 24px;
	}
	.viewTable_cont,
	.viewTable_cont * {
		font-size: 26px !important;
	}
	.viewTable_cont h1,
	.viewTable_cont h2,
	.viewTable_cont h3,
	.viewTable_cont h4,
	.viewTable_cont h5,
	.viewTable_cont h6 {
		font-size: 30px !important;
	}
	.viewTable_file li {
		padding:20px 25px;
	}
	.viewTable_file li a {
		padding-left: 44px;
		font-size: 22px;
	}

	.pagination .page-btn {
		width: 55px;
		height: 55px;
		font-size: 24px;
		line-height: 55px;
	}
}